:root {
    --black: #141414;
    --gray: #a9a9a9;
    --off-white: #faf9f6;
    --orange: #db7d2f;
    --yellow: #f9d500;
    --light-yellow: #f4d35e;
    --red: #a10f0f;
    --light-red: #d33e43;
    --blue: #31345a;
    --light-blue: #30638e;
    --green: #5b7553;
    --light-green: #2f7532;
}

/* Specific element coloring */
body {
    background-color: var(--light-blue);
}

.card {
    background-color: var(--off-white) !important;
}

.modal,
.modal .modal-footer {
    background-color: var(--light-blue) !important;
}

input {
    color: var(--black) !important;
}

*::placeholder {
    color: var(--gray) !important;
}

/* Utility classes for colors */
[class*="-bg"] {
    background-color: var(--default-color) !important;
}

[class*="-text"] {
    color: var(--default-color) !important;
}

[class*="-on-hover"]:hover {
    color: var(--default-color) !important;
}

/* Map color-specific classes */
.black-bg, .black-text, .black-on-hover { --default-color: var(--black); }
.gray-bg, .gray-text, .gray-on-hover { --default-color: var(--gray); }
.off-white-bg, .off-white-text, .white-on-hover { --default-color: var(--off-white); }
.orange-bg, .orange-text, .orange-on-hover { --default-color: var(--orange); }
.yellow-bg, .yellow-text, .yellow-on-hover { --default-color: var(--yellow); }
.light-yellow-bg, .light-yellow-text, .light-yellow-on-hover { --default-color: var(--light-yellow); }
.red-bg, .red-text, .red-on-hover { --default-color: var(--red); }
.light-red-bg, .light-red-text, .light-red-on-hover { --default-color: var(--light-red); }
.blue-bg, .blue-text, .blue-on-hover { --default-color: var(--blue); }
.light-blue-bg, .light-blue-text, .light-blue-on-hover { --default-color: var(--light-blue); }
.green-bg, .green-text, .green-on-hover { --default-color: var(--green); }
.light-green-bg, .light-green-text, .light-green-on-hover { --default-color: var(--light-green); }
