*::placeholder {
    font-style: italic;
}

.height-100vh {
    height: 100vh;
}

.h-160px {
    height: 160px !important;
}

.w-20 {
    width: 20% !important;
}
.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-100 {
    width: 100% !important;
}

/* margin & padding */
.m-none {
    margin: 0 !important;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.login-col {
    padding-right: 0 !important;
}

.displayNone {
    display: none;
}

.pointer {
    cursor: pointer;
}

.fw-200 {
    font-weight: 200 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-800 {
    font-weight: 800 !important;
}

.fs-12 {
    font-size: 12px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-28 {
    font-size: 28px !important;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadowNone {
    box-shadow: none !important;
}

.custom .p-inputwrapper {
    width: 100% !important;
}

.style-normal input::placeholder {
    font-style: normal;
}

.card-depth {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
